@{
    ViewBag.Title = "Account";
}
<div class="row">
    <div class="six columns centered">
        <form>
        <fieldset>
            <legend>Personal Information</legend>
            <label>Name</label>
            <input type="text" />
            <label>E-mail</label>
            <input type="text" />
            @Html.Label("Repeat E-mail")          
            @Html.TextBox("re_email",null,"e-mail")
            @Html.Label("Password")          
            @Html.Password("Password")
        </fieldset>
        </form>
    </div>
</div>
